MaterialDefinition (
    id: "toyvox:dirt",
    display_name: "Dirt",
    albedo: TextureRef (
        id: "toyvox:main_atlas",
        rect: Some(Rect (
            position: Vec2(0, 0),
            size: Vec2(8, 8)
        )), 
    )
)