BlockTypeDefinition(
    id: "toyvox:dirt",
    display_name: "Dirt",
    appearance: Cuboid(
        x_min: MaterialRef(id: "toyvox:dirt"),
        x_max: MaterialRef(id: "toyvox:dirt"),
        y_min: MaterialRef(id: "toyvox:dirt"),
        y_max: MaterialRef(id: "toyvox:dirt"),
        z_min: MaterialRef(id: "toyvox:dirt"),
        z_max: MaterialRef(id: "toyvox:dirt"),
    ),
)